.services {
  overflow-x: hidden;
}

.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.services .company-description {
  padding-top: 3rem;
  margin-bottom: 0;
}
