.creations {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('../../assets/image03.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.between {
  min-height: 65vh;
  display: flex;
  align-items: center;
}

.creations-sub-headline span {
  line-height: 14rem;
}
