.about {
  overflow-x: hidden;
}

.global-headline {
  text-align: center;
  margin-top: 3.9rem;
}

.about .global-headline {
  margin-top: 6.9rem;
}

.global-headline .asterisk {
  color: #515151;
  margin: 2.4rem 0;
}

.headline-dark {
  color: #252525;
  letter-spacing: 0.7rem;
  margin-right: -0.7rem;
}

.global-headline .sub-headline {
  letter-spacing: -1px;
  line-height: 0.42;
}

.company-info {
  text-align: center;
}

.company-description {
  margin-bottom: 3rem;
}

.company-description p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
}

@media screen and (min-width: 950px) {
  .company-info {
    display: flex;
    align-items: center;
  }

  .company-info > div {
    flex: 1;
  }

  .padding-right {
    padding-right: 7rem;
  }
}
